extends ../layout
block content
  article
    if topic
      h2= topic.title
      = topic.description
      div= 'by '+topic.author
    else
      h2 Welcom
      | This is server side javascript tutorial.
  if user
    ul
      li
        a(href='/topic/add') add
      if topic
        if user.authId === topic.author
          li
            a(href='/topic/'+topic.id+'/edit') edit
          li
            a(href='/topic/'+topic.id+'/delete') delete
