extends ../layout
block content
  article
    if topic
      h2= topic.title
      = topic.description
      div= 'by '+topic.author
    else
      h2 Welcom
      | This is server side javascript tutorial.
  if user
    .btn-group
       a.btn.btn-primary(href='/topic/add') 추가
       if topic
         if user.authId === topic.author
           a.btn.btn-success(href='/topic/'+topic.id+'/edit') 수정
           a.btn.btn-warning(href='/topic/'+topic.id+'/delete') 삭제
